<app-page>
	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">{{identity.name}}</h1>
			</div>
			<!-- /.col-lg-12 -->
		</div>

		<div class="row">
			<!-- /.col-lg-12 -->
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						Messages

						<div class="pull-right">
							<button *ngFor="let group of groups" style="margin-right: 5px;" type="button" class="btn btn-outline btn-info btn-xs">
								{{group._id}} ({{group.count}})
							</button>
						</div>
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<app-loading *ngIf="!messages"></app-loading>
						<div *ngIf="messages" class="table-responsive">
							<table class="table table-striped">
								<thead>
								<tr>
									<th>Date</th>
									<th>From</th>
									<th></th>
									<th>To</th>
									<th>Amount (EOS)</th>
									<th>Tx</th>
								</tr>
								</thead>
								<tbody>
								<tr *ngFor="let message of messages">
									<td>{{message.createdAt.sec * 1000 | date:'medium'}}</td>
									<td>{{message.data.from}}</td>
									<td>
										<i *ngIf="message.data.from !== identity.name" class="fa fa-long-arrow-right fa-fw" style="color: green"></i>
										<i *ngIf="message.data.from === identity.name" class="fa fa-long-arrow-right fa-fw" style="color: red"></i>
									</td>
									<td>{{message.data.to}}</td>
									<td>{{message.data.amount / 1000}}</td>
									<td>{{message.transaction_id|slice:0:32}}...</td>
								</tr>
								</tbody>
							</table>
						</div>
						<!-- /.table-responsive -->
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-lg-6 -->
		</div>

		<!-- /.row -->
	</div>
	<!-- /#page-wrapper -->
</app-page>
