<div class="navbar-default sidebar" role="navigation">
	<div class="sidebar-nav navbar-collapse">
		<ul class="nav" id="side-menu">
			<li>
				<a routerLink="/" routerLinkActive="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
			</li>
			<li>
				<a routerLink="/" routerLinkActive="active"><i class="fa fa-exchange fa-fw"></i> Send</a>
			</li>
			<li>
				<a routerLink="/" routerLinkActive="active"><i class="fa fa-list-alt fa-fw"></i> Transactions</a>
			</li>
			<li>
				<a routerLink="/" routerLinkActive="active"><i class="fa fa-money fa-fw"></i> Currencies</a>
			</li>
			<li>
				<a routerLink="/" routerLinkActive="active"><i class="fa fa-files-o fa-fw"></i> Contracts</a>
			</li>
			<li>
				<a routerLink="/" routerLinkActive="active"><i class="fa fa-cogs fa-fw"></i> Settings</a>
			</li>
			<li>
				<a routerLink="/login" (click)="logout()" class="active"><i class="fa fa-lock fa-fw"></i> Logout</a>
			</li>
		</ul>
	</div>
	<!-- /.sidebar-collapse -->
</div>